version: "3.9"

services:
  backend:
    image: galeos93/linkedin-insight-hub-backend:latest
    pull_policy: if_not_present
    build:
      context: ./backend
      dockerfile: docker/Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - backend-cache:/home/app/.cache
    restart: unless-stopped

  frontend:
    image: galeos93/linkedin-insight-hub-frontend:latest
    pull_policy: if_not_present
    build:
      context: ./frontend
      dockerfile: docker/Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  backend-cache: